@import url("header.css");
@import url("xbox.css");
@import url("desempenho.css");
@import url("posters.css");
@import url("faqaccordion.css");
@import url("rodapé.css");

:root {
    --cor-de-fundo: #09090B;
    --cor-cinza: #676767;
    --cor-branca: #FFFFFF;
    --cor-preto-fosco: #0C0C0C;
    --cor-verde-limao: #9BF00B; 
    --cor-cinza-claro: #C0C0C0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Inter', sans-serif;
}